[submodule "flutter-login"]
	path = flutter-login
	url = https://github.com/hericlesme/flutter-login
[submodule "flutter-camera"]
	path = flutter-camera
	url = https://github.com/hericlesme/flutter-camera
[submodule "flutter-backdrop"]
	path = flutter-backdrop
	url = https://github.com/hericlesme/flutter-backdrop.git
[submodule "flutter-hero"]
	path = flutter-hero
	url = https://github.com/hericlesme/flutter-hero
[submodule "flutter-audio-recorder"]
	path = flutter-audio-recorder
	url = https://github.com/hericlesme/flutter-audio-recorder
[submodule "flare_sample"]
	path = flare_sample
	url = https://github.com/hericlesme/flare_sample
